doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')  
    script(src="/javascripts/jquery-latest.min.js")
    script(src="https://www.google.com/jsapi?autoload={\"modules\":[{\"name\":\"visualization\",\"version\":\"1\",\"packages\":[\"corechart\"]}]}")
  body
    block content
